body {
  margin: 0;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 300;
}

/* MODAL */

.modal::backdrop {
    background: rgb(0 0 0 /.3);
}

.modal {
    padding: 1em;
    max-width: 40ch;
    border: 0;
    background-color: hsl(50, 10%, 95%);
}

.modal > h2, .modal > p {
    text-align: center;
}

.modal > h2 {
    font-weight: 200;
    padding-left: .5em;
    padding-right: .5em;
}

.modal > p {
    padding: 0 2em 1em 2em;
}

.offer {
    text-align: center;
}

.offer > p, .privacy {
    text-decoration: underline;
}

#email {
    display: block;
    width: 80%;
    padding: 1em;
    margin: auto;
    outline: none;
    border: 1px solid hsl(0,0%,85%);
    font-family: Poppins, Arial, Helvetica, sans-serif;
}

.sign-up {
    display: block;
    padding: 1em 0 0 0;
    margin: auto;
}

.signup-button {
    padding: 1em 0 1em 0;
    width: 87%;
    opacity: 100%;
    font-size: 14px;
    letter-spacing: 1px;
}

/* BANNER */

.top-banner {
    background-color: black;
    color: white;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* NAVBAR */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1.5em;
    padding-right: 1.5em;
    font-size: 22px;
    height: 70px;
}

.navbar h1 {
    font-weight: 600;
    font-size: 26px;
}

/* MOBILE NAV */

.menu-search {
    display: flex;
    align-items: center;
    gap: .4em;
}

.person-cart {
    display: flex;
    align-items: center;
    gap: .4em;
}

/* HERO */

.hero-container {
    background-image: url(/images/outdoor.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}

.shop-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.shop-container h1 {
    color: white;
    font-size: 52px;
}

.shop-btn {
    padding: 1em 3em 1em 3em;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    border: none;
    cursor: pointer;
    letter-spacing: 1px;
    font-size: 18px;
    background-color: hsl(50, 10%, 95%)
}

/* SHOP BY ROOM */

.shop-wrapper h2{
    text-align: center;
    font-weight: 300;
    margin-bottom: 0;
}

.shop {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 1.5em;
    gap: .5em;
}

.shop-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.shop-item img, .design-item img, .inspiration img {
    width: 100%;
    height: 100%;
}

/* OUTDOOR FEATURE */

.feature-container {
    background-image: url(/images/outdoor-feature.jpg);
    width: 100%;
    height: 100%;
}

.outdoor-feature {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* OUTDOOR ESSENTIALS */

.outdoor-container, .design {
    padding: 1.5em;
}

.essentials, .design {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: .5em;
}

.essentials h2 {
    text-align: center;
    font-weight: 300;
}

.essentials img {
    width: 100%;
}

/* GARDEN */

.garden-feature {
    background-image: url(/images/botanicals.jpg);
    width: 100%;
    height: 400px;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}

/* ORGANIZATION */

.organization-container {
    background-image: url(/images/organization.jpg);
    width: 100%;
    height: 400px;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}

/* DESIGN */

.design-item {
    background-image: url(/images/tabletop.jpg);
}
.design-item2 {
    background-image: url(/images/registry.jpg);
}

.design-item3 {
    background-image: url(/images/home-design.jpg);
}

/* AWARD-WINNING */

.award-container {
    background-color: hsl(50, 10%, 95%);
    padding: 1.5em;
    text-align: center;
}

/* INSPIRATION */

.inspiration {
    padding: 1.5em;
}

/* SUBSCRIBE */

footer {
    background-color: hsl(50, 10%, 95%);
}

.form-container {
    padding: 1.5em;
}

.form-container h4 {
    text-align: center;
}

.input-items {
    display: flex;
}