body {
  margin: 0;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 300;
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

a {
  text-decoration: none;
  color: black;
  padding: 0.2em 0.5em;
}

a:hover,
a:focus {
  background-color: hsl(150, 8%, 71%);
  color: white;
}

button {
  padding: 0.5em 0 0.5em 0;
  width: 50%;
  font-size: 1rem;
  cursor: pointer;
  opacity: 0.8;
  letter-spacing: 1px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  border: none;
}

button:focus {
  background-color: black;
  color: white;
}

ul {
  list-style-type: none;
}

h2 {
  font-weight: 200;
}

.feature-container h1 {
  font-weight: 400;
}

.hero-container,
.feature-container,
.garden-feature,
.organization-container {
  background-color: black;
  background-position-x: 50%;
  background-position-y: 50%;
  width: 100%;
  height: 700px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* MODAL */

.modal::backdrop {
  background: rgb(0 0 0 /0.3);
}

.modal {
  padding: 1em;
  max-width: 40ch;
  border: 0;
  background-color: hsl(50, 10%, 95%);
  scrollbar-width: none;
}

.modal > h2,
.modal > p {
  text-align: center;
}

.modal > h2 {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.modal > p {
  padding: 0 2em 1em 2em;
}

.offer {
  text-align: center;
}

.offer > p,
.privacy {
  text-decoration: underline;
}

#email {
  display: block;
  width: 80%;
  padding: 1em;
  margin: auto;
  outline: none;
  border: 1px solid hsl(0, 0%, 85%);
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

.sign-up {
  display: block;
  padding: 1em 0 0 0;
  margin: auto;
}

.signup-button {
  width: 87%;
}

.return-home button {
  padding-top: 1em;
  border: none;
  text-decoration: underline;
}

/* BANNER */

.top-banner {
  background-color: black;
  color: white;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* NAVBAR */

.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5em;
  gap: 0.4em;
}

.navbar-wrapper button {
  background: none;
  font-size: 1.5em;
}

.menu-search,
.person-cart {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.4em;
}

.link-logo:hover,
.link-logo:focus {
  background-color: white;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.logo img {
  width: 12em;
}

.mobile-nav-toggle {
  display: block;
  background: transparent;
  border: 0;
  font-size: 10em;
}

.primary-navigation {
  display: none;
  position: absolute;
  inset: 6.3em 0 0 0;
  z-index: 999;
  background-color: hsl(0, 0%, 100%);
  width: 40%;
  box-shadow: 0 0 0.75em rgb(0 0 0 / 0.05), 0 0 0 1000vmax rgb(0 0 0 / 0.5);
}

.primary-navigation[data-visible] {
  display: block;
}

.nav-list {
  display: grid;
  gap: 1.3em;
  padding: 0.2em 1.5em;
}

.icon-close {
  display: none;
}

.menu-search input {
  display: none;
}

/* HERO */

.hero-container {
  background-image: url(/images/outdoor.jpg);
  height: 700px;
}

.shop-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.shop-container h1 {
  color: white;
  font-size: 52px;
}

.shop-btn {
  padding: 1em 3em 1em 3em;
  border: none;
  font-size: 18px;
  background-color: hsl(50, 10%, 95%);
}

/* SHOP BY ROOM/DECOR */

.shop-wrapper h2 {
  text-align: center;
  margin-bottom: 0;
}

.shop {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 1.5em;
  gap: 0.5em;
}

.shop-decor {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.shop-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.shop-item:hover {
  border: 1px solid black;
}

.shop-item img,
.inspiration img {
  width: 100%;
  height: 100%;
}

.guest {
  display: none;
}

/* OUTDOOR FEATURE */

.feature-container {
  background-image: url(/images/outdoor-feature.jpg);
  display: block;
  padding-top: 5rem;
  letter-spacing: 1px;
}

.feature-container h1 {
  background-color: white;
  font-weight: 200;
  opacity: 0.7;
  text-align: center;
}

/* OUTDOOR ESSENTIALS */

.outdoor-container,
.design {
  padding: 1.5em;
}

.essentials {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 0.5em;
}

.essentials h2 {
  text-align: center;
}

.essentials img {
  width: 100%;
  border-top-left-radius: 5rem;
  border-bottom-right-radius: 5rem;
}

/* GARDEN */

.garden-feature {
  background-image: url(/images/botanicals.jpg);
}

.garden-feature button {
  width: 300px;
  border: none;
}

/* NEW ARRIVALS */

.new-arrivals-container {
  padding: 0.5em 1.5em 2.2em 1.5em;
}

.new-arrivals {
  display: grid;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.new-arrivals-items {
  display: flex;
  gap: 0.4rem;
}

.new-arrivals-items img {
  inline-size: 29%;
}

.new-arrivals-text-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-arrivals-text {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.snaps-inline {
  scroll-snap-type: inline mandatory;
}

/* ORGANIZATION */

.organization-container {
  background-image: url(/images/organization.jpg);
  margin-bottom: 0.8em;
}

.organization-container h1 {
  font-weight: 300;
  color: white;
}

.organization-container button {
  width: 300px;
  border: none;
}

/* DESIGN */

.design {
  display: grid;
  gap: 0.5em;
  padding-bottom: 2.2em;
}

.design-item,
.design-item2,
.design-item3 {
  background-size: cover;
  background-position-y: 20%;
  height: 500px;
  width: 100%;
  text-align: center;
}

.design h2 {
  font-size: 1.6rem;
}

.design-item {
  background-image: url(/images/tabletop.jpg);
}

.design-item2 {
  background-image: url(/images/registry.jpg);
}

.design-item3 {
  background-image: url(/images/home-design.jpg);
}

/* AWARD-WINNING */

.award-container {
  background-color: hsl(150, 8%, 71%);
  padding: 1.5em;
  text-align: center;
}

.award-container button {
  width: 250px;
}

/* INSPIRATION */

.inspiration {
  padding: 1em 1.5em;
}

.inspiration-item-container {
  overflow-x: auto;
  padding-bottom: 2.2em;
}

.inspiration-item {
  display: flex;
  gap: 0.5rem;
}

.inspiration-item img {
  width: 40%;
  height: 100%;
  aspect-ratio: 11 / 9;
  object-fit: cover;
}

/* FOOTER */

footer {
  background-color: hsl(50, 10%, 95%);
  padding: 1.5em 2.2em 0 2.2em;
  display: block;
  overflow-y: hidden;
}

.form-items p:nth-of-type(1) {
  text-align: center;
  font-size: 1.1rem;
}

.input-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-items #email {
  width: 300px;
}

input {
  font-size: 0.9rem;
}

.input-items button {
  width: 30%;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: hsl(150, 5%, 54%);
  color: white;
  border: none;
  font-size: 0.9rem;
  opacity: 1;
}

.input-container img {
  width: 100%;
}

.store-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1em;
  font-size: 1.5rem;
}

.footer-links h4 {
  font-weight: 500;
  font-size: 1.1em;
}

.footer-links ul {
  padding: 0;
}

.footer-links-container {
  border-bottom: 1px solid lightgray;
  padding-left: 1em;
}

.footer-policy {
  font-size: 0.8em;
}

[hidden] {
  display: none;
}

@media (min-width: 768px) {
  .icon-hamburger {
    display: none;
  }

  .search-btn {
    display: flex;
    align-items: center;
  }

  .menu-search input {
    display: flex;
    outline: none;
  }

  .primary-navigation {
    display: flex;
    box-shadow: none;
    justify-content: center;
    z-index: 0;
    inset: 0;
    position: relative;
    padding-bottom: 0.5em;
    width: 100%;
  }

  .nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0;
    gap: 0;
  }

  .shop {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }

  .shop-decor {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }

  .design {
    display: flex;
    background-position-x: 50%;
  }

  .form-footer-links {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1em;
    padding-top: 1em;
    padding-bottom: 2em;
  }

  .footer-links-container {
    display: flex;
    gap: 2em;
    border-bottom: none;
    justify-content: center;
  }

  .store-icons {
    display: flex;
    gap: 1em;
    border-top: 1px solid lightgray;
    justify-content: flex-start;
  }

  .input-container img {
    display: none;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .hero-container {
    animation: fade-out linear;
    animation-timeline: view();
    animation-range: exit;
  }

  @keyframes fade-out {
    from {
      scale: 1;
      opacity: 1;
    }
    to {
      scale: 0.8;
      opacity: 0.6;
    }
  }

  button:hover {
    animation: enlarge linear;
    animation-timeline: view();
  }

  @keyframes enlarge {
    to {
      scale: 1.2;
    }
  }
}
